# c
*.exe

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Java
*.class
out/
bin/

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

#node modules -express
node_modules/
**/node_modules/

node js/node_modules/